body {
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.content {
    width: 95%;
    height: 100%;
    margin-left: 5%;
    background-color: #ffffff;
    padding: 0;
    animation: zoomIn 20s infinite;
}

.content.collapsed {
    margin-left: 15%;
    width: 85%;
}


@keyframes zoomIn {
    0% {
        background-size: 100%;
    }

    50% {
        background-size: 106%;
    }

    100% {
        background-size: 100%;
    }
}

.header-navbar-container {
    width: 97%;
    margin: 0 auto;
    background-color: #09042f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.header h2 {
    margin: 0;
    color: #ffffff;
    font-size: 24px;
    text-align: center;
}

.sidebar {
    width: 5%;
    height: 100vh;
    background-color: #09042f;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    transition: width 0.3s;
}

.sidebar.expanded {
    width: 15%;
}

.sidebar .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    padding-left: 20px;
    display: none;
}

.sidebar.expanded .logo-container {
    display: block;
}

.sidebar .logo {
    width: 80%;
}

.sidebar .menu {
    width: 100%;
}

.sidebar .menu a {
    width: 100%;
    color: #ffffff;
    padding: 15px;
    padding-right: -15px;
    text-align:left;
    text-decoration: none;
    display: flex;
    align-items: left;
    justify-content: left;
    transition: background-color 0.3s, width 0.3s;
}

.sidebar .menu a:hover,
.sidebar .menu a.active {
    color: chartreuse;
}

.sidebar .menu a i {
    margin-right: 0;
    transition: margin-right 0.3s;
}

.sidebar.expanded .menu a i {
    margin-right: 10px;
}

.sidebar .menu a .menu-text {
    display: none;
    font-size: 15px;
    transition: display 0.3s;
}


.sidebar.expanded .menu a .menu-text {
    display: inline;
    font-size: 14px;
}

.toggle-btn {
    float: right;
    padding: 10px;
    margin-top: auto;
    margin-bottom: 50px;
    color: white;
    background-color: #0c0793;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.toggle-btn:hover {
    color: chocolate;
    background-color: #09042f;
}

.container {
    background-color: #ffffff;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.question-table {
    background-color: #ffffff;
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
} 

.category-table {
    width: 60%;
    background-color: #ffffff;
    padding-left: 10px;
    padding-bottom: 10px;
}


h2 {
    color: #1F6E8C;
    text-align: left;
    margin-bottom: 20px;
}

h2 span {
    color: black;
}

table {
    width: 100%;
    justify-content: center;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.active-status {
    color: green;
    font-weight: 600;
}

.pending-status {
    color: red;
    font-weight: 600;
}

button {
    background-color: #0E2954;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #1F6E8C;
}

.delete-button {
    background-color: rgb(207, 38, 38);
}

.delete-button:hover {
    background-color: #710707;
}

.save-button {
    background-color: #0cb315;
}

.save-button:hover {
    background-color: #0b740b;
}

#regNo {
    padding: 8px;
    border: 1px solid #ccc;
    background: #e2e2ff;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}


.popup {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
}


.close {
    color: #0E2954;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #1F6E8C;
    text-decoration: none;
    cursor: pointer;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    color: #1F6E8C;
    margin-bottom: 0px;
    margin-top: 20px;
}

input[type="password"],
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    background: #e2e2ff;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    background-color: #063f9c;
    color: #fff;
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
    background-color: #0c087b;

}

select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    background: #e2e2ff;
}